.searchModal {
  width: 100%;
  margin: auto;
  overflow: hidden;
  height: 100vh;
  border-radius: 12px;
}

.searchModalContainer {
  margin: 0 18px;
}

.closeModal {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: var(--gray-background);
  font-size: var(--font-medium);
  position: absolute;
  top: 7px;
  right: 18px;
  display: flex;
  justify-content: center;
  padding-top: 4px;
  cursor: url("/images/funny-cats-jumping-cat-pointer.png"), auto;  
  user-select: none;
}

.searchBar {
  height: 45px;
  margin: 77px auto 30px;
}
