.loader-container {
  display: flex;
  align-items: center;
  .loader {
    border: 8px solid var(--cat-wiki-white-smoke);
    border-radius: 50%;
    border-top: 8px solid var(--cat-wiki-light-gray-orange);
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    display: inline-block;
    margin-right: 20px;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
