.breedContainer {
  width: 90%;
  margin: 0 auto;
}

.breedDetails {
  display: flex;
  gap: 115px;
}

.imageContainer {
  width: 371px;
  height: 371px;
  position: relative;
}

.image {
  object-fit: cover;
  border-radius: 24px;
}

div.imageContainer::before {
  content: "";
  position: absolute;
  background: #dec68b;
  height: 305px;
  top: 10%;
  left: -10px;
  width: 83px;
  border-radius: 14px;
}

.detailsContainer {
  flex: 1;
}

.breedDetailsTitle,
.breedImagesTitle {
  font-size: var(--font-large);
  margin-bottom: 25px;
}

.breedDetailsDescription {
  font-size: var(--font-small);
  margin-bottom: 32px;
}

.breedinfo {
  font-size: var(--font-x-small);
  margin-bottom: 32px;
}
.breedinfo span {
  font-weight: 700;
}

.statsContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-weight: 700;
  row-gap: 32px;
  margin-bottom: 80px;
  font-size: var(--font-x-small);
}

.breedImages {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 23px;
  row-gap: 53px;
  margin-bottom: 177px;
}

.imageItemContainer {
  position: relative;
  width: 278px;
  height: 278px;
}

.imageItem {
  border-radius: 24px;
  object-fit: cover;
}

@media (1060px <= width <= 1165px) {
  .breedDetails {
    gap: 25px;
  }
  .breedImages {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
  }
}

@media (max-width: 1060px) {
  .imageContainer {
    width: 250px;
    height: 250px;
  }
  div.imageContainer::before {
    height: 184px;
  }
  .breedDetails {
    flex-direction: column;
    gap: 25px;
  }
  .breedImages {
    grid-template-columns: repeat(1, 250px);
    justify-content: center;
  }
  .imageItemContainer {
    width: 100%;
    height: 250px;
  }
  .breedDetailsTitle,
  .breedImagesTitle {
    font-size: var(--font-medium);
  }
  .breedDetailsDescription {
    font-size: var(--font-mobile-medium);
  }
  .breedinfo {
    font-size: var(--font-mobile-small);
    margin-bottom: 16px;
  }
  .statsContainer {
    margin-bottom: 40px;
    font-size: var(--font-mobile-small);
  }
  .breedImages {
    margin-bottom: 50px;
  }
}
